
<div class="row">
	<a id="committee" class="page-anchor"></a>
	<div class="col-md-6">
		<h3>Organising Committee</h3>
		<ul>
		{% for member in site.data.committee %}
			<li>
				<span class="committee name">
					{% if member.url %}
						<a href="{{ member.url }}">{{ member.name }}</a>,
					{% else %}
						{{ member.name }},
					{% endif %}
				</span> 
				<span class="committee role">{{ member.role }}</span><br>
				<span class="committee affiliation">{{ member.affiliation }}</span>
			</li>
		{% endfor %}
		</ul>
	</div>
	<div class="col-md-6" >
		<h3>Steering Committee</h3>
		<div class="steering-committee">
			<ul >
			{% for member in site.data.steering %}
				<li>
					<span class="committee name">
						{% if member.url %}
							<a href="{{ member.url }}">{{ member.name }}</a>
						{% else %}
							{{ member.name }}
						{% endif %}
					</span><br>
					<span class="committee affiliation">{{ member.affiliation }}</span>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>

